[2019-07-04 12:19] tuan91 opened #2 "postponed image saved in workspace (mobile)"
WebdriverIO version: 5.7.15
Mode: WDIO Testrunner
If WDIO Testrunner, running sync/async: sync
Node.js version: 10.15.1
NPM version: 6.4.1
Platform name and version: Browserstack

[code]
Additional wdio packages used (if applicable): "@wdio/browserstack-service": "^5.7.13", "wdio-image-comparison-service": "^1.1.0"
wdio.conf
[code]

Describe the bug

Visual Regression Test:
expectation:
I want to

[2019-07-04 16:32] wswebcreation commented on #2
Hi @tuan91

thanks for filling an issue, can you please share the complete code?

Secondly,are you using both commands?

[code]
Because the is not needed.

[2019-07-05 14:33] rundmd opened #3 "Allow commands to accept a folder options object"
**Problem**
The folder locations cannot be set dynamically and doesn't allow us to save screenshots underneath each of our component directories. We can use the wdio options object to set the paths when running specs individually, but not when running a suite of tests

**Solution**
Allowing each command to accept a folders object allows users to use the mocha test context to figure out test names

[2019-07-05 14:34] rundmd commented on #3
I will submit a PR later today

[2019-07-05 20:13] wswebcreation commented on #3
👍🏻

[2019-07-07 06:51] wswebcreation commented on #3
https://github.com/wswebcreation/wdio-image-comparison-service/pull/4

[2019-07-09 09:45] tuan91 commented on #2
Hi @wswebcreation
thanks for the fast respond.
code:
if (mtFunctions.isDesktop()) {
            ProductDetailPage.open("10171918");
            ProductDetailPage.getAvaibleProduct(ProductDetailPage.availableVarianteSizeSelect).click();
            browser.pause(2000);
            ProductDetailPage.saveSpecifiedElementLayout(ProductDetailPage.infoBoxLayout, "infobox sizelist selected",

[2019-07-09 10:05] wswebcreation commented on #2
Hi @tuan91

Thanks for the feedback, I need to dive into the issue, but I'm kinda packed today and tomorrow. I hope to have time for it this week.

You only use `saveElement` when you **ONLY** want to save an element, not comparing stuff.

The `checkElement` is used to compare screenshots, this already holds the `saveElement` because it will automatically make a screenshot of the element, so you d

[2019-07-09 10:48] tuan91 commented on #2
Hi @wswebcreation
Thanks for the Information.
Unfortunately, it still does not work, with only "checkElement".

I'll wait for your feedback!

[2019-07-10 06:49] wswebcreation commented on #2
Hi @tuan91

I've been checking this on the Sauce Labs real device cloud (I don't have an account for Browserstack), but all seems to work how it should work.

This is the script I'm using

[code]

And it gives this output

![box-example-chrome-393x786](https://user-images.githubusercontent.com/11979740/60946758-ec2c1300-a2e6-11e9-8c39-fe6b81cb4cd6.png)

Which is what I expect it to be.

I think th

[2019-07-10 09:32] tuan91 commented on #2
Hi @wswebcreation
thanks for your Feedback.
It works, when I run one IT. When I run two ITs, it still does not work. The first IT works fine but the second IT still has the same issue.

Can you insert the code in front of your code and run it again?
code:
it('issue 1', () => {

        browser.url('https://www.mytoys.de/anki-anki-cozmo-6853448.html');

        const box = $('.prod-info__box-contai

[2019-07-11 09:40] wswebcreation commented on #2
Hi @tuan91

Again, it works for me

[code]

![box-example-1-chrome-393x786](https://user-images.githubusercontent.com/11979740/61040233-7dc37f80-a3d0-11e9-9a24-90c95c7f6540.png)

![box-example-2-chrome-393x786](https://user-images.githubusercontent.com/11979740/61040232-7dc37f80-a3d0-11e9-8bd2-54adeec00498.png)

[2019-07-11 14:59] wswebcreation commented on #3
@rundmd

I've release `1.3.0` with your feature, thanks for that. Can you verify that it works and then close the issue if you want?

[2019-07-11 16:12] kumarpatel opened #6 "Question: Trying to get this working in blueimp/wdio/ containerized project"
Wondering if you can either help out or have any insight into this problem.
Any help would be appreciated.

Running into issues when integrating this service into [this containerized wdio project](https://github.com/blueimp/wdio)

You can read more about issue (error snippet, etc) here
https://github.com/blueimp/wdio/issues/9

Have you looked into Dockerization at all?

**Environment (please compl

[2019-07-12 04:02] #3 closed

[2019-07-16 14:44] tuan91 commented on #2
hi @wswebcreation
thanks for your Feedback!
It still does not work, can you lock on my repository?

https://github.com/tuan91/wdio_postponed_layout

[2019-07-16 14:56] wswebcreation commented on #2
Looks like the link doesn't work

[2019-07-16 15:05] tuan91 commented on #2
Oh sorry it was "private".
Now it should work!

[2019-07-17 11:54] tuan91 opened #7 "stale element"
**Environment :**
 - Node.js version: 10.15.1
 - NPM version: 6.4.1
 - Browser name and version: [e.g. Chrome 68]
 - Platform name and version: [e.g. Windows 10]
 - WebdriverIO version: 5.11.0
 - wdio-image-comparison-service version: 1.3.0

**Describe the bug**
Hi, my test fails. According to the staketrace the element is not attached to the page document, can you help me?

**To Reproduce**
clone

[2019-07-17 16:23] wswebcreation commented on #7
Hi @tuan91

Just checking, is this only happening with the image comparison module?

[2019-07-18 08:26] tuan91 commented on #7
Hi @wswebcreation
and yes it dosen't work only with image comparison module.
The tracestack points out the method "checkElement".

[2019-07-23 08:42] tuan91 commented on #2
Hi @wswebcreation
is there already a solution?

[2019-07-23 08:43] tuan91 commented on #7
Hi @wswebcreation
is there already a solution?

[2019-07-24 08:17] wswebcreation commented on #6
Hi @kumarpatel

No I haven't looked into docker support for this module at all, and I must say I haven't seen this issue before. Have you already checked Google? I directed me to this thread https://github.com/mapbox/node-pre-gyp/issues/364#issuecomment-456638826.

Hope it helps

[2019-07-24 14:50] psubrambe opened #8 "A consolidated report in html for all difference found with actual and diff image"
**Is your feature request related to a problem? Please describe.**
Now all the diff needs to be located in Diff folder is there is anyway we make this html report.

**Describe the solution you'd like**
A consolidated report for actual and diff in html format

[2019-07-24 14:56] wswebcreation commented on #8
Hi @psubrambe

Thanks for the feature request,  but this will never be part of this module. If it will be created it will be a separate module.

You can also build it on your own based on the provided data from the responses. Going to close it for now

[2019-07-24 14:56] #8 closed

[2019-07-27 08:30] mgrybyk opened #10 "Tests are failing due to mixing wdio/sync and async/await"
**Environment (please complete the following information):**
 - wdio-image-comparison-service version: 1.4.0

**Describe the bug**
there are async/await in `init.spec.js`
https://github.com/wswebcreation/wdio-image-comparison-service/blob/9d4f152db20fcdd70c387b7d7ca627487aa6c3b6/tests/specs/init.spec.js#L9

**To Reproduce**
`npm run test.local.init`

**Expected behavior**
remove async/await from t

[2019-07-27 19:07] #10 closed

[2019-07-28 07:00] wswebcreation commented on #2
Hi @tuan91

I found the problem. It's partially a problem of this module and partially a problem in you capabilities.

This module checks the platform (iOS/Android) based on the `platformName`. This is mandatory for Appium, but apparently not for BrowserStack. Because you don't provide the capability `platformName: 'Android'` this module thinks that the screenshot is taken on a desktop (that's why

[2019-07-28 07:52] wswebcreation commented on #7
Checking this one now and what I see is the following

At line 9 of your code

[code]
the element already gets an elementID. This is the ID of the element when it is hidden.

Your check on line 21 checks
[code]
checks with the same ID if the element exists and it will always return true, because the element was already existing in the dom

In the meantime the element changed state, meaning it got

[2019-07-28 15:37] wswebcreation commented on #2
I've release version `1.5.0` that should solve this bug, can you please dowload the lastest version and verify?

https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.5.0

[2019-07-30 09:43] tuan91 commented on #7
hi @wswebcreation
thanks for your Feedback!

I have several tests where I test the "successlayer" and there it worked without the method "waituntil". Only in this test, it did not work, so I thought check the elementID again. Unfortunately it does not work either.

Normally, the elementID does not change, it also works for other tests. I do not understand why the elementID is changing right now.

[2019-07-30 14:58] wswebcreation commented on #7
Hmm, when I run it it works, as you can see in the screenshot

[2019-07-31 13:43] tuan91 commented on #2
Hi @wswebcreation
thanks for your Feedback!

i can't update the latest version. Generally I can't install the module anymore.

Error Massage:
Warning: Missing input files:
C:\GTK\bin\libpangoft2-1.0-0.dll
C:\GTK\bin\zlib1.dll
C:\GTK\bin\libintl-8.dll
C:\GTK\bin\libgmodule-2.0-0.dll
C:\GTK\bin\libglib-2.0-0.dll
C:\GTK\bin\libexpat-1.dll
C:\GTK\bin\libpng14-14.dll
C:\GTK\bin\libcairo-2.dll
C:\GTK\bi

[2019-08-07 02:23] sureshkandasamy opened #13 "Full Page screenshot is only capturing the image of the viewport. Is any there specific setting options required?"
Full Page screenshot is only capturing the image of the viewport. It shows a blank page for rest of the screen in the screenshot.
I am a newbie and I tried a simple test described in your example in Chrome. Scree
Is any there specific setting options required?

**Environment (please complete the following information):**
 - Node.js version: 8.9.4
 - NPM version: 5.6.0
 - Browser name and version:

[2019-08-07 07:20] wswebcreation commented on #13
@sureshkandasamy

Thanks for filling an issue, this one is related to this https://github.com/wswebcreation/webdriver-image-comparison/issues/31 and will be fixed there. I'll keep this open for tracking

[2019-08-16 07:36] wswebcreation commented on #2
Hi @tuan91

Can you recheck again, a new version of `node-canvas-prebuilt` is released.  https://github.com/node-gfx/node-canvas-prebuilt/issues/78

[2019-08-20 12:46] gmontoya190 opened #14 "checkFullPageScreen is not taking options into account when defining properties(baselineFolder, screenshotPath,etc) - Mobile"
**Environment (please complete the following information):**
 - Node.js version: 8.16.0
 - NPM version: 6.4.1
 - Browser name and version: iPhone XS,
 - Platform name and version: iOS 12.1
 - WebdriverIO version: 5.9.6
 - wdio-image-comparison-service version: 1.5.0
-  browserstack-service : 5.8.0

**Config of WebdriverIO + wdio-image-comparison-service**

**wdio-image-comparison-service configura

[2019-08-20 16:19] wswebcreation commented on #14
@gmontoya190

Can you explain what you are expecting? I've ran checks here and I saw that the files are saved where they needed to be saved.

[2019-08-20 18:22] wswebcreation commented on #13
@sureshkandasamy

I've released a new version, can you install that one and check if it is fixed, if so, please close the iissue

[2019-08-21 07:03] gmontoya190 commented on #14
@wswebcreation the files are not being generated in the correct folder. I do not see the files under this screenshots/reference/${kind}/${name}, they are saved as the log indicated ** wic/baseline/fullPage-safari-375x812-dpr-3.png**, and the image format is different too, supposed to be ```formatImageName: `{tag}-{platformName}-{browserName}-{width}x{height}`,``` but is using the default one.

[2019-08-21 07:14] wswebcreation commented on #14
Ok, I'll get back to it, need to have some time to do the investigation.

[2019-08-23 12:40] gmontoya190 commented on #14
@wswebcreation did you have the chance to dig into it?

[2019-08-24 15:18] wswebcreation commented on #14
@gmontoya190

I've had time to look into it and to be honest, you are using the module in the wrong way.

- You are providing the plugin options to the test execution, that's incorrect usage, see the documentation for correct usage here https://github.com/wswebcreation/wdio-image-comparison-service/blob/master/docs/OPTIONS.md#plugin-options
- You are providing an object in an object
[code]
  it sh

[2019-08-24 15:18] #14 closed

[2019-08-24 15:23] wswebcreation commented on #13
Going to close it because it works as expected now

![fullPage-chrome-1200x1373-dpr-1](https://user-images.githubusercontent.com/11979740/63639489-dc4c7080-c693-11e9-8968-e70201f7c9f7.png)

[2019-08-24 15:23] #13 closed

[2019-09-16 09:30] simonwilson1985 opened #15 "Support PDF views in Chrome"
**Is your feature request related to a problem? Please describe.**
We use the pdf viewer in Chrome to check on some communications that are sent from our company. Using the saveFullPageScreen function it still cuts off the bottom of the page and shows the scroll bar.

**Describe the solution you'd like**
It would be nice to have it screenshot the full page without the scroll bar and, if possible,

[2019-10-01 13:05] Dorkstars opened #16 "checkScreen function crashes WDIO without "autoSaveBaseline" config"
**Environment (please complete the following information):**
 - Node.js version: 10.16.0
 - NPM version: 6.9.0
 - Browser name and version: All platforms (e.g. Edge, Mobile Safari)
 - Platform name and version: All platforms (e.g. Windows 10, iOS12)
 - WebdriverIO version: 5.13.0
- Mocha-framework: 5.12.1
- Allure-reporter: 5.12.1
 - wdio-image-comparison-service version: 1.5.1

**Config of Webdri

[2019-10-01 14:27] wswebcreation commented on #16
Hi @Dorkstars

Thanks for submitting an issue, can you share a sample project with your complete setup that reproduces the issue, this is not something I have with my current tests.

Thanks

[2019-10-02 21:40] Jarv1193 opened #17 "Build failed, Canvas dependency not found for MacOS"
**Environment**
 - Node.js version: 8.11.4
 - NPM version: 6.5.0
 - Browser name and version: Fifefox
 - Platform name and version: MacOs
 - WebdriverIO version: 5.12.4
 - wdio-image-comparison-service version: 1.4.0

**Describe the bug**
Once I made a deploy I got an error

**Expected behavior**
successful build

**Log**
[code]

[2019-10-03 07:34] wswebcreation commented on #17
Hmm, this is something I've seen before with other people with specific Linux versions, does it work on your local machine?
Have you also tried updating your NodeJS environment too for example 10? 8 is going to be deprecated/no support anymore by the end of the year

[2019-10-07 15:44] Jarv1193 commented on #17
This work on my local machine.
Unfortunately I can't update right now to Node 10

[2019-10-13 15:52] wswebcreation commented on #17
@Jarv1193

What do you mean with that, what is your configuration there?

[2019-10-27 17:25] #6 closed

[2019-10-31 14:21] Antict commented on #17
I'm having a similar issue:
[code]
**Environment:**
- macOS Mojave 10.14.5
- npm version 6.4.1
- node version 10.15.3
- wdio-image-comparison-service: 1.8.0

[2019-11-06 02:49] davidnguyen179 opened #18 "Typescript: Property 'checkElement' does not exist on type 'BrowserObject'"
**Environment:**
 - Node.js version: 10.15.3
 - NPM version: 6.4.1
 - WebdriverIO version: 5.15.4
 - wdio-image-comparison-service version: 1.8.0

**Config of WebdriverIO + wdio-image-comparison-service**

**Describe the bug**
Using it on the typescript file.

[code]

[code]

**To Reproduce**
1. Create the file test.spec.ts
2. Copy & Paste this code
[code]

**Expected behavior**
The `browser.check

[2019-11-06 09:34] wswebcreation commented on #18
This module doesn't support TypeScript yet, I added a label for adding TypeScript support. I don't have the time for this so feel free to open a PR

[2019-11-11 16:24] #7 closed

[2019-12-08 08:48] wswebcreation commented on #16
Closing this issue due to inactivity

[2019-12-08 08:48] #16 closed

[2019-12-08 08:48] wswebcreation commented on #15
This also needs to be solved in https://github.com/wswebcreation/webdriver-image-comparison

[2020-02-12 23:13] #17 closed

[2020-02-18 10:28] #18 closed

[2020-02-28 08:54] balukov opened #24 "TypeScript errors in compile"
**Environment (please complete the following information):**
 - Node.js version: 12.14.1
 - NPM version: 6.13.4
 - Platform name and version: macOS Mojave 10.14.6
 - WebdriverIO version: 5.18.7
 - wdio-image-comparison-service version: 1.12.0

**Describe the bug**
Errors in compile because types functions haven't type 'void' or 'numbers'

**To Reproduce**
1.  tsconfig: Add "wdio-image-comparison-s

[2020-02-28 08:59] balukov commented on #24
Pull request #25

[2020-02-28 09:10] balukov commented on #24
Pull request #26

[2020-03-07 17:22] wswebcreation commented on #15
Hi @simonwilson1985

I know this was a long time ago, but I've been checking this and I can't really find a way to do this. The full page screenshot works on the height of the app that is opened in the browser. A PDF is put into a `embeded` element which always has the viewport height. This means that we can't get the full page scroll height meaning it will only take a screenshot of the viewport,

[2020-03-07 17:22] #15 closed

[2020-03-09 11:17] ericzered opened #28 "MultiRemote not supported"
Hello,
I have an issue with multiremote and wdio-image-comparison-service :
I'm using the service **'image-comparison'** without problem when I have only 1 browser, but when I run tests with multiremote, I have an error.

Example and repro:

In my wdio.conf.js I have this capabilities :
[code]

in my spec file, I can do this without problem:

[code]

But when I try to do multiremote like this :

[

[2020-03-11 08:03] wswebcreation commented on #28
The module doesn't support multiremote so it will be a feature. Will add it on my todo list

[2020-03-11 08:55] ericzered commented on #28
Thank you :)

[2020-03-12 09:24] #24 closed

[2020-03-12 09:52] wswebcreation commented on #24
@balukov

Does it work now?

[2020-03-12 09:55] balukov opened #29 "Methods for "browser" don't exist for Typescript"
**Environment (please complete the following information):**
 - Node.js version: 12.14.1
 - NPM version: 6.13.4
 - Platform name and version: macOS
 - WebdriverIO version: 5.19.0
 - wdio-image-comparison-service version: 1.12.2

**Describe the bug**
Methods for "browser" (saveScreen, saveElement, saveFullPageScreen, saveTabbablePage, checkScreen, checkElement, checkFullPageScreen, checkTabbablePag

[2020-03-12 12:29] wswebcreation commented on #29
Hmm, that is strange

This is my setup

[code]

[code]

[code]

[code]

and I get this

![image](https://user-images.githubusercontent.com/11979740/76521578-63f9a100-6465-11ea-82a6-5b3fa733cfa8.png)

Did you also remove the `package-lock.json` + `node_modules` and reinstalled?

[2020-03-12 13:16] balukov commented on #29
My mistake, I absolutely forget to add types
[code]

[2020-03-12 13:16] #29 closed

[2020-03-12 14:42] wswebcreation commented on #29
So it's working?

[2020-03-23 11:47] smichaelsen opened #30 "Inconsistent screenshot resolutions"
We're building a Visual Regression Testing Suite based on `webdriverio`, `wdio-image-comparison-service` and Browserstack.

We have the problem that our tests fail regularly because the screenshots that are created vary in their resolution. We can reproduce the issue with browserstack and a local selenium grid; also with different browsers e.g. IE11 and Chrome.

**Relevant versions**
 - node: v12.

[2020-03-23 12:02] wswebcreation commented on #30
Hi @smichaelsen

This is kinda strange, this is a screenshot on the same OS and browser combination with the same resolution of the browser in the same session?

I'm pretty sure this is due to the environment / coding issue and not due to the module because the module only takes a screenshot of the current viewport.
Can you share an instance of Browserstack which I can view to see what happens?

[2020-03-28 10:55] lavanyalaguduva opened #31 "Error in azure-devops while initialising the service"
**Environment (please complete the following information):**
 - Node.js version: v10.17.0
 - NPM version: 6.11.3
 - Browser name and version: Chrome V 80(but this issue is independent of browsers)
 - Platform name and version: Azure devops using kubernates pool
 - WebdriverIO version: 5.15.6
 - wdio-image-comparison-service version: 1.12.2

**Config of WebdriverIO + wdio-image-comparison-service**

[2020-04-03 17:04] aabdullin opened #32 "[chrome linux #0-0] TypeError: browser.saveFullPageScreen is not a function"
**Environment (please complete the following information):**
 - Node.js version: v13.12.0
 - NPM version: 6.14.4
 - Browser name and version: Chrome 80.0.3987.149
 - Platform name and version: MacOS Mojave 10.14.6
 - WebdriverIO version: [e.g. 5.1.0]
 - wdio-image-comparison-service version: "^1.12.2"
- "webdriver-image-comparison": "^0.13.2"

**Config of WebdriverIO + wdio-image-comparison-servic

[2020-04-05 07:32] wswebcreation commented on #32
Hi @aabdullin

Can you provide a sample project, I can't reproduce this error, sorry

[2020-04-06 02:31] aabdullin commented on #32
@wswebcreation
Hi Will. I realized that I've added function, not into the right place.

I'm getting error an error, have no idea how to initialize `browser` function.
[chrome  linux #0-0] browser.saveFullPageScreen is not a function
[chrome  linux #0-0] TypeError: browser.saveFullPageScreen is not a function
`const utilsCommon = require('../../bin/tools/utils.common');
var _ = require('lodash');

[2020-04-06 06:42] wswebcreation commented on #32
Hi @aabdullin

Can you share your config file? The fact that you get the `browser.saveFullPageScreen is not a function` means 9-10 times that you didn't configure the service properly. It could be that you are overwriting it, not providing the correct options and so on.

[2020-04-06 15:47] aabdullin commented on #32
Hi @wswebcreation do you mean wdio.conf?

`const workload_host_ips = process.env.workload_host_ips.split(',');
const datapath_host_ips = process.env.datapath_host_ips.split(',');
const { join } = require('path');

exports.config = {
    //
    // ====================
    // Runner Configuration
    // ====================
    //
    // WebdriverIO allows it to run your tests in arbitrary locations

[2020-04-06 17:22] wswebcreation commented on #32
Tnx @aabdullin

Hmm, this is strange, this should work, some other questions

- if you run a simple test and you set `logLevel: 'debug` and check the first log lines when the test is starting. You might see some errors in the logs that would tell you more about what is happening.
- I also see you have a lot of addCommands, what happens if you disable them?

Last but not least if that doesn't work,

[2020-04-07 04:05] aabdullin commented on #32
Hi @wswebcreation
1) with debug log level
`[0-0] RUNNING in chrome - /test/specs/testname.js
[0-0] 2020-04-07T04:03:13.241Z DEBUG @wdio/utils:initialiseServices: initialise wdio service "image-comparison"
[0-0] 2020-04-07T04:03:13.255Z ERROR @wdio/utils:initialiseServices: Error: Couldn't initialise "wdio-image-comparison-service".
Error: /workspace/node_modules/canvas/build/Release/canvas.node: i

[2020-04-07 04:08] aabdullin commented on #32
2. After disabling add commands
`2020-04-07T04:07:04.859Z DEBUG @wdio/utils:initialiseServices: initialise wdio service "image-comparison"
2020-04-07T04:07:04.875Z ERROR @wdio/utils:initialiseServices: Error: Couldn't initialise "wdio-image-comparison-service".
Error: /workspace/node_modules/canvas/build/Release/canvas.node: invalid ELF header
    at Object.Module._extensions..node (internal/modul

[2020-04-07 09:20] balukov commented on #24
yes

[2020-04-07 11:16] balukov commented on #32
I think there is something wrong with the service installation.

global installation is `npm install -g wdio-image-comparison-service --save-dev`

[2020-04-07 11:46] wswebcreation commented on #32
@aabdullin && @balukov

You don't need to install it globally, you need to install it in your local project

@aabdullin

You have this error in your logs

[code]

Looks like there is an issue with using Canvas on NodeJS 13. Can you go back to NodeJS 12, NodeJS 13 (all odd number) are not stable candidates and are just a _playground_ before NodeJS 14 comes out.

[2020-04-07 11:47] wswebcreation commented on #24
@balukov

![90s-retro-commercials-26tPghhb310muUkEw](https://media1.giphy.com/media/26tPghhb310muUkEw/giphy.gif?cid=e1bb72ff27a1afc8ea38ea07b5254ba1a2c5a6420aece5f6&rid=giphy.gif)

[2020-04-07 17:29] aabdullin commented on #32
@wswebcreation after switching to NodeJS12:
`➜  wdio git:(poc-wdio-image-comparison-service) ✗ make run-chrome suite=testname.js
docker-compose -f docker/docker-compose.yml exec -T test_env_chrome bash -c "./node_modules/.bin/wdio wdio.conf.chrome.js --baseUrl=https://10.149.38.57 --spec testname.js"

Execution of 1 spec files started at 2020-04-07T17:26:32.153Z

2020-04-07T17:26:32.157Z DEBUG @wd

[2020-04-07 19:25] wswebcreation commented on #32
@aabdullin

Can you check this, I'm not familiar with Docker https://github.com/Automattic/node-canvas/issues/1000 but this seems to handle the issue you are facing

[2020-04-07 20:30] lfalkner commented on #17
For anyone looking for the answer to this - assuming  you've copied node_modules from a previous job or a cache, try removing the node_modules and reinstalling your dependencies:
https://stackoverflow.com/questions/11718813/error-running-a-nodejs-server-on-a-mac-no-suitable-image-found

[2020-04-08 06:26] balukov commented on #32
Of course, I just saw error in bug description and thank that maybe @aabdullin has this type of errors (with installation) somewhere else.

[2020-04-10 16:13] ryuran opened #33 "V6 support"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/wswebcreation/wdio-image-comparison-service) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**
The current version seems not compatible with webdriverio v6.
It's not notice

[2020-04-10 16:23] anto-ac commented on #33
It is compatible. I’m using it.

[2020-04-11 05:31] wswebcreation commented on #33
Yep, it is compatible with V6, closing it for now because there is also no logs or description what the problem is

[2020-04-11 05:31] #33 closed

[2020-04-11 14:50] ryuran commented on #33
Do we have an example? @anto-ac @wswebcreation
I have some issue to integrate it.

[2020-04-11 15:37] anto-ac commented on #33
What are the issues?

[2020-04-13 18:39] aabdullin commented on #32
@wswebcreation thanks man, actually resolved this issue with saving screenshots by doing
` npm install in chrome:latest container `

[2020-04-13 18:39] #32 closed

[2020-04-16 15:04] jacknjill02 opened #34 "Disabled elements on the page should not be tabbed"
**Environment (please complete the following information):**
 - Node.js version: 10.17.0
 - NPM version: 6.11.3
 - Browser name and version:Chrome 81
 - Platform name and version: macOS 10.13.6
 - WebdriverIO version: 5.18.7
 - wdio-image-comparison-service version: 1.12.2

**Config of WebdriverIO + wdio-image-comparison-service**
An example of how you configured the wdio-image-comparison-service

[2020-04-18 08:14] wswebcreation commented on #34
@jacknjill02

I've released a new version, can you check it with version https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.13.0 and close it if it is fixed?

[2020-04-21 13:37] kevinlacotaco opened #35 "Multiple element selector only hiding first match"
**Describe your question with as much detail as possible**

Hiding only one of the elements matching a selector when updating to puppeteer. It seems the removal/hidden elements is passed through all the way to the client script but I have been having trouble debugging where exactly it might break. My question is basically do I need to debug a visual Chrome execution to get access to the client scr

[2020-04-22 12:02] wswebcreation commented on #35
Thanks for filing an issue, I'll take a look at it in the coming days

[2020-04-23 12:41] NirmalAyyappan opened #36 "browser.checkElement function captures someother image instead of element image"
I am new to WDIO, just exploring the features for WDIO - visual testing. I tried to do visual comparison of an element ["..pluginRowBlock"] on WDIO page.
The baseline image of the element which is stored under .tmp folder is something else not the screenshot of the .pluginRowBlock [expected: image contains getstarted ,watch talk etc] actual image in tmp folder is doc,api,help that whole section.

[2020-04-25 16:02] wswebcreation commented on #28
@ericzered

I looked into this one and I can't get it working for now. The multiremote session works different in comparison to a _single_-session. Both browser are now run in the same session and I don't have access to the capabilities, making this harder to use and determine the correct data.

I need to dive into it more, but because multi-remote is not the biggest feature / has the highest usag

[2020-04-25 16:29] ericzered commented on #28
thanks, that's fair, thanks for the hard work :)

[2020-04-26 08:26] wswebcreation commented on #36
Hi @NirmalAyyappan

thanks for filing an issue, I've tried it and it just works. Can you provide the images by just dragging them into the comment field on GitHub when you add a new comment to this issue?

[2020-04-26 08:44] wswebcreation commented on #35
Hi @kevinlacotaco

I've been checking this with this version:

[code]

and this script

[code]

And this is the result, first image without hiding the elements, with-links-hl
![with-links-hl-chrome-dev-tools-headless-1366x768](https://user-images.githubusercontent.com/11979740/80302504-c0f9ae00-87aa-11ea-84f8-bf9a6b9b86f1.png)

And the second image with hiding the links
![wihtout-links-hl-chrome-d

[2020-04-27 14:40] NirmalAyyappan commented on #36
Hi,

thanks for the response.

I have attached actual image which taken for baseline.
![rowblock_actual](https://user-images.githubusercontent.com/7247646/80384789-f1cd0680-88c2-11ea-8c53-4459f965f018.jpg)

But expected image for the object is
![expected_rowblock](https://user-images.githubusercontent.com/7247646/80384948-22ad3b80-88c3-11ea-8518-c36c52a3068d.png)

[2020-04-27 15:20] wswebcreation commented on #36
Hi @NirmalAyyappan

Can you provide the setup and screenresolution? It looks like your screen is smaller and needs to scroll to the element before taking the screenshot.

[2020-04-27 22:05] kevinlacotaco commented on #35
Ok, let me try to get a reproducible example. I am wondering if its due to `[data-x]` attributes instead of classes?

[2020-04-28 03:59] kevinlacotaco commented on #35
I threw this together: https://github.com/wswebcreation/webdriver-image-comparison/pull/68 which seems to have solved my issue.

[2020-04-28 10:59] NirmalAyyappan commented on #36
I have followed setup document given in webdriverio and the command used to download dependencies "npm install --save-dev wdio-image-comparison-service".

OS: Windows 10
Screen resolution: 1920*1080.

Thanks for the timely response.
I will check in the large screen or by changing the screen resolution.

[2020-04-30 05:41] smichaelsen commented on #30
We were able to fix this by putting `browser.maximizeWindow();` into every test. Doesn't feel great, but it works.

[2020-04-30 07:24] wswebcreation commented on #30
Hi @smichaelsen

Why not use something like this https://github.com/wswebcreation/wdio-image-comparison-service/blob/master/tests/configs/wdio.shared.conf.js#L43
Then your test will always have the same dimensions for every browser.

Going to close this issue because you found the root cause, but it's still open for discussion

[2020-04-30 07:24] #30 closed

[2020-05-01 14:06] smichaelsen opened #38 "Block Out Element by selector"
`checkElement()` has a `blockOut` Option that can define an area that is ignored for the image comparison. It only accepts absolute coordinates. However when testing across multiple screen sizes and browsers we can not rely on absolute coordinates that are hardcoded in our test. Is there any possibility to determine the coordinates of a given element during runtime?

I've seen there is a `determin

[2020-05-02 06:45] wswebcreation commented on #38
Hi @smichaelsen

Currently it's not supported, it's a feature. I need to think about how to implement this because it should be used for all functions. I'll add it to my todo list

[2020-05-02 06:46] wswebcreation commented on #35
Should be fixed now with https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.13.2

[2020-05-02 06:46] #35 closed

[2020-05-04 19:24] smichaelsen opened #39 "Check Element that is bigger than the viewport"
When using `checkElement()` on an Element that has more height than the current viewport (think of a long webform) the resulting screenshot has a top area with the visible part of the element and the rest of it is just transparent.
Is there a way to test large elements without taking a full page screenshot?

<img width="398" alt="Screenshot 2020-05-04 at 21 23 45" src="https://user-images.githubus

[2020-05-05 05:49] wswebcreation commented on #36
Hi @NirmalAyyappan

Did you made any progress here?

[2020-05-05 05:50] wswebcreation commented on #34
I'll close it now because as far as I can see it's fixed

[2020-05-05 05:50] #34 closed

[2020-05-05 05:51] wswebcreation commented on #39
@smichaelsen

Closing this one because the work needs to be done [here](https://github.com/wswebcreation/webdriver-image-comparison) and there is already a ticket open, see https://github.com/wswebcreation/webdriver-image-comparison/issues/20

For now you're stuck with a fullpage screenshot

[2020-05-05 05:51] #39 closed

[2020-05-05 06:02] smichaelsen commented on #39
Thanks for the pointer

[2020-05-06 11:28] NirmalAyyappan commented on #36
Nope, i couldn't check as i don't have larger screen monitor with me.
I will check in different screen resolution and reopen this issue if i face the same.

thank you so much of your support.

[2020-05-06 11:28] #36 closed

[2020-05-06 13:46] colinrotherham opened #40 "Version 1.13 includes breaking changes"
**Environment (please complete the following information):**
 - Node.js version: 8.17.0
 - NPM version: 6.13.4
 - Browser name and version: N/A
 - Platform name and version: N/A
 - WebdriverIO version: 5.22.4
 - wdio-image-comparison-service version: 1.13.3

**Describe the bug**
I can see during install on Node.js 8 that various unsupported breaking changes have been introduced since 1.12. I've ha

[2020-05-06 14:58] wswebcreation commented on #40
@colinrotherham

Thanks for the ticket, I never thought about NodeJS 8, was assuming that people would not use it anymore because it's not supported anymore.

I've installed NodeJS 8 on my machine and when I install the project I don't get the error. Which version of NodeJS 8 are you using?

This was my log

![image](https://user-images.githubusercontent.com/11979740/81192588-bb764200-8fba-11ea-85

[2020-05-06 15:57] colinrotherham commented on #40
@wswebcreation Sorry no, it's completely broken on Node.js 8 😭

Anyone else on Node.js 8 that runs `npm install` or `npm update` will also pull in the unsupported breaking changes from **fs-extra**, **chalk** and **universalify** packaged with the `v1.13` releases.

Ideally all `v1.13` releases should be marked as deprecated and a new `v2.0` release added, otherwise anyone else on Node.js 8 will a

[2020-05-07 05:50] smichaelsen commented on #38
I solved it for us:

[code]

This returns the coordinates of a child element relative to the given parent, in the structure that is needed for `blockOut`.

[2020-05-07 06:33] wswebcreation commented on #40
Hi @colinrotherham

Because it's not a breaking change for everybody (at least from what I hear and see) I didn't release a V2, but created a patch that fixes this, see https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.13.4

Reason for this is also that you will now have all the latest fixes of the core, with NodeJS 8 support. I've tried it on my machine and I didn't g

[2020-05-07 06:36] wswebcreation commented on #38
Awesome, thanks for posting it here

[2020-05-07 14:22] colinrotherham commented on #40
@wswebcreation That's great, it's all working again now 🎉

Can you [npm deprecate](https://docs.npmjs.com/deprecating-and-undeprecating-packages-or-package-versions) the ones that didn't work with Node 8 just in case anyone else tries to install them? Then if you need to bump them back up again start version `2.0.0` 😊

Thanks again

[2020-05-12 05:33] amitAutoS opened #42 "folder not created for mobile browser like desktop_chrome"
I am using Perfecto cloud for my testing.
When I run my scripts, I am able to create/see folders like desktop_chrome or desktop_firefox where it stores reference and actual screenshots.
Now I am trying to test on Android mobile on Perfecto cloud.
ISSUE: It is not creating the folders but storing the screenshots directly under reference/actual folder. How can I make it create another folder just li

[2020-05-12 19:23] smichaelsen commented on #42
Same here with Browserstack - tested with Google Pixel and iPhone 8.

[2020-05-13 06:35] wswebcreation commented on #42
@amitAutoS and @smichaelsen

This is because of this line of code https://github.com/wswebcreation/webdriver-image-comparison/blob/cce70cb4174b8b3b94e4e8d17771a26ae8d90914/lib/helpers/utils.ts#L17

It will only be stored in a separate folder if the `deviceName` is present in the capabilities, which is not the case based on the provided capabilities.
I can take a look at optimising this, can you do

[2020-05-13 08:24] smichaelsen commented on #42
[code]

[2020-05-13 08:53] amitAutoS commented on #42
When I run on Chrome/FF on Perfecto, I still **don't see deviceName** coming in capabilities but it does create the folder like desktop_chrome, here's the output:

capabilities =  {
  reportPdfUrl: 'https://nab.app.perfectomobile.com/export/api/v1/test-executions/pdf?externalId[0]=192E7E0AFB2B82C8078D421509BE9287--@@100.72.231.232@@1589359382763',
  networkConnectionEnabled: false,
  videoStartTim

[2020-05-13 09:29] wswebcreation commented on #42
@amitAutoS

`deviceName` is something for mobile devices, officially it is a mandatory field for Appium. Cloud vendors tend to work around that one.
The module looks at how YOU determine the `deviceName` in the capabilities, not in how the vendor is giving them back. The reason for asking you to log it was for me to understand how I solve this in the future

[2020-05-13 12:00] smichaelsen commented on #42
[code]

With this capabilities the correct folder is created, which is great. 👍

I do screenshots with Chrome in 2 resolutions. I'd also like to separate folders for them. However settings something like `deviceName: 'Chome XL',` does not work, because BrowserStack evaluates this property and doesn't know that browser.

How about introducing a new property like `folderName`?

[2020-05-19 02:45] amitAutoS opened #43 "hideAfterFirstScroll giving error in typescript Spec"
Trying to use hideAfterFirstScroll in checkFullPageScreen method but it's giving error:
**TS2740: Type 'Element' is missing the following properties from type 'HTMLElement': accessKey, accessKeyLabel, autocapitalize, dir, and 230 more.**

`expect(browser.checkFullPageScreen(this.test.title,{hideAfterFirstScroll: [$('#privacy-information')]} )).equal(0);`

- TypeScript
 - Node.js version: [v12.13.1

[2020-05-19 05:22] wswebcreation commented on #43
Thanks for the issue @amitAutoS

Can you provide a reproducible example in a git repo so I can check the error

[2020-05-19 07:35] amitAutoS commented on #43
Its internal org code, so cant put it outside and would need some time to prepare reproducing example.
In the mean time, what I think is, hideAfterFirstScroll is expecting HTMLElement. When I looked up in the code in fullPage.interfaces.d.ts
`hideAfterFirstScroll?: HTMLElement[];`

When I use this LOC in my code, it is passing Element type
`expect(browser.checkFullPageScreen(this.test.title,{hideA

[2020-05-19 12:29] amitAutoS commented on #43
@wswebcreation Here's the sample project for the issue:
https://github.com/amitAutoS/WebdriverIO_v5_TypeScript

Pls refer login.spec.ts and check for this testcase _should compare successful with a baseline_

[2020-05-20 05:29] wswebcreation commented on #43
Tnx,

I have some time tomorrow and then I'll take a look at it

[2020-05-21 06:26] wswebcreation commented on #43
@amitAutoS

Should be fixed with https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.13.6, tested it with your project. Closing it for now

[2020-05-21 06:26] #43 closed

[2020-05-21 06:29] wswebcreation commented on #42
@smichaelsen

Yeah, that would be an option, need to think of it, but if you have a solution feel free to come up with a PR for https://github.com/wswebcreation/webdriver-image-comparison

[2020-06-12 05:22] cnuk4u opened #44 "browser.savescreen is not defined."
**Environment (please complete the following information):**
 - Node.js version: 12.18.0
 - NPM version: 6.14.4
 - Browser name and version: chrome 83
 - Platform name and version: windows 10
 - WebdriverIO version: 6.0.5
 - wdio-image-comparison-service version: 1.13.6

**Config of WebdriverIO + wdio-image-comparison-service**

[code]

**Describe the bug**
getting error whule "TypeError: browser.

[2020-06-12 06:20] wswebcreation commented on #44
@cnuk4u

Thanks for filing the issue, but can you provide **your** configuration file, based on the above mentioned implementation, from the docs, it should work. It could be that you are overwriting the services somewhere else.
Also please post the logs of WebdriverIO when you start a test, when you run it with `logLevel: 'debug'` I only need the first few log lines before the session is created

[2020-06-18 10:10] cnuk4u commented on #44
@wswebcreation

PFA logs as below,

2020-06-18T10:07:45.942Z DEBUG @wdio/utils:initialiseServices: initialise service "image-comparison" as NPM package
2020-06-18T10:07:46.000Z ERROR @wdio/utils:initialiseServices: Error: Couldn't initialise "wdio-image-comparison-service".
Error: The specified module could not be found.
\\?\e:\Automation\jasmine-boilerplate-master\node_modules\canvas\build\Releas

[2020-06-18 11:01] wswebcreation commented on #44
@cnuk4u

The logs say that the module could not be found, did you install it?

[2020-06-18 11:05] cnuk4u commented on #44
@wswebcreation

Issue resolved after referring to [this issue](https://github.com/Automattic/node-canvas/issues/1000)

Thanks

[2020-06-18 11:05] #44 closed

[2020-07-20 13:41] stwippie opened #45 "Screen comparison for iPad(landscape) not fully ignoring address bar"
**Environment (please complete the following information):**
 - Node.js version: [v12.16.1]
 - NPM version: [6.13.4]
 - Browser name and version: [Safari 12]
 - Platform name and version: [Browserstack iPad Air 2019]
 - WebdriverIO version: [6.1.22]
 - wdio-image-comparison-service version: [1.13.6]

**Config of WebdriverIO + wdio-image-comparison-service**

[code]

[code]

**Describe the bug**
Wh

[2020-07-21 06:43] wswebcreation commented on #45
Thanks for filling the issue. This is a know bug to me, the core module currently doesn't support this for Landscape mode. I need to take a look at it and try to fix it, but with the upcoming holiday don't expect it to be fixed in a few days 😉

[2020-08-08 06:56] #40 closed

[2020-08-08 07:04] #28 closed

[2020-09-28 19:27] tenjerma opened #46 "Add log level option"
I use this service in a bit of an unorthodox way, basically as a verification step before and after a test, where a baseline is generated before the step and the affected element is checked after some actions are executed after a step. The problem is I don't have a preset of baselines, but rather they are generated on every run. This causes the terminal to be spammed with "INFO:" logs.

A log leve

[2020-11-08 06:54] wswebcreation commented on #46
Sorry for my late response, I'll take a look at it in the coming weeks but if you want to open a PR then feel free to do so

[2020-11-08 10:14] wswebcreation commented on #46
@tenjerma

This will implement it

[2020-11-13 08:59] tenjerma commented on #46
@wswebcreation PR to update the dependency in `wdio-image-comparison-service`: https://github.com/wswebcreation/wdio-image-comparison-service/pull/47

[2020-11-13 10:34] #46 closed

[2020-11-13 10:35] wswebcreation commented on #46
Hi @tenjerma

Closing yours in favour of this one https://github.com/wswebcreation/wdio-image-comparison-service/pull/48 because there are _breaking_ changes due to the removal of support for Node.js 8

[2020-11-13 10:46] wswebcreation commented on #46
@tenjerma

I've released https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v2.0.0

[2020-12-04 22:15] #38 closed

[2020-12-09 19:47] orandzheviyman opened #49 "Backstop-like reporter for the service"
Used the BackstopJS for a long time and then switched to the wdio-image-comparison-service
It is excellent, but I really miss a reporter in which it would be convenient and quick to see the changes in the layout. it seems to me how the BackstopJS was done would be very suitable here too.
Or already exist reporter like BackstopJS for wdio-image-comparison-service? I will be grateful for the links

[2020-12-14 15:47] alisman opened #50 "Use test name as screenshot file name?"
In an earlier version of WDIO (wdio-visual-regression-service), the framework could pick up the name of the test

` it(THIS_THING, ()=>test)`

as the name of the screenshot. This was super helpful because it allowed us to easily get from test report back to test spec with code search.

Is there any simple way to achieve this in the new service?

[2020-12-15 08:04] wswebcreation commented on #50
Hi @alisman

Thanks for your issue. This is not a rewrite of the `wdio-visual-regression-service`, but a completely different module. Feel free to open a PR for this

[2020-12-15 08:06] wswebcreation commented on #49
Hi @orandzheviyman

Thanks for your request. I'd like to keep this module as _simple_ as possible and don't have this on my future roadmap. Maybe you can create a module on top of this module that does the Backstop magic.

Going to close it for now, but it's still open for discussion

[2020-12-15 08:06] #49 closed

[2021-01-16 06:26] AutomationGuru opened #51 "Given i use junit reporter, the report generated is truncated and unreadable"
**Environment :**
 - Node.js version: 14.5.0
 - NPM version: 6.14.5
 - Browser name and version: Chrome 87
 - Platform name and version: mac
 - WebdriverIO version: 6.10.11
 - wdio-image-comparison-service version: 2.0.0
 - @wdio/junit-reporter: "6.10.6
 -
**Config of WebdriverIO + wdio-image-comparison-service**

[code]

**Describe the bug**
Given i run visual test runs using webdriverIO and imag

[2021-01-16 06:30] AutomationGuru opened #52 "Retries of test deletes all actual folder images"
**Environment (please complete the following information):**
Node.js version: 14.5.0
NPM version: 6.14.5
Browser name and version: Chrome 87
Platform name and version: mac
WebdriverIO version: 6.10.11
wdio-image-comparison-service version: 2.0.0

[code]

**Describe the bug**

Given i run visual test runs using webdriverIO and image comparison library on browserstack or locally and parallel to each

[2021-01-16 06:51] wswebcreation commented on #51
Hi @AutomationGuru

This module is sending a lot of data to the drivers, if that breaks the junit report then that is an issue with the report instead of  with this module. That's why I'm going to close this issue because it's not module related. Feel free to open a ticket for the junit reporter

[2021-01-16 06:51] #51 closed

[2021-01-16 06:55] wswebcreation commented on #52
Hi @AutomationGuru

You've enabled `clearRuntimeFolder `, see https://github.com/wswebcreation/webdriver-image-comparison/blob/master/docs/OPTIONS.md#clearruntimefolder. This means that if the module, when it is instantiated for the first, second or nth time will clean the folder. In combination with `specFileRetries`, which you have in the config, the module is being instantiated again and the fo

[2021-01-16 06:55] #52 closed

[2021-01-16 13:08] AutomationGuru commented on #51
Understood thanks

[2021-01-16 14:16] AutomationGuru commented on #52
Thanks again for looking my bad removed that and works fine

[2021-01-18 19:13] sytolk commented on #50
@alisman to get test name you can write
[code]
but how can we use this service to get screenshot [running programmatically](https://github.com/wswebcreation/wdio-image-comparison-service#running-programmatically)?
this miss me:
[code]

[2021-01-18 19:24] lajayis opened #53 "browser.saveFullPageScreen is not a function on wdio-image-comparison-service 2.0.0 using webdriverio 6.10.11"
My wdio-image-comparison-service configuration is as follows:
[
      'image-comparison',
      {
        baselineFolder: join(
          process.cwd(),
          './visualRegressionScreenshots/reference/'
        ),
        formatImageName: '{tag}-{logName}-{width}x{height}',
        screenshotPath: join(process.cwd(), './visualRegressionScreenshots/'),
        savePerInstance: true,
        auto

[2021-01-18 19:35] sytolk opened #54 "Code sample how can we takeScreenshot on failed tests"
https://github.com/wswebcreation/wdio-image-comparison-service/issues/50#issuecomment-762427915

[2021-01-18 20:17] wswebcreation commented on #53
Can you please provide your full config? Otherwise we can't debug.

Root cause of this issue is most of the time that the service is overwritten because it's mentioned twice in the config

[2021-01-19 11:53] lajayis commented on #53
Many thanks @wswebcreation. What I am not sure of is the fact that I did not change any of the previous configuration settings before and after the upgrade from webdriverio 5 to 6 and it was working perfectly before the upgrade. Below is the full config:

const baseConfig = {

  services: [
    ['selenium-standalone'],
    ['multiple-cucumber-html'],

    [
      'image-comparison',
      {

[2021-01-19 12:21] wswebcreation commented on #53
@lajayis

Thanks for the config, but this looks like it's not all. Can you also provide the rest, with rest I mean the `executorConfig`
Secondly, can you also print the `browser` before you execute the `saveFullPageScreen ` command and put that in here?

[2021-01-19 13:37] lajayis commented on #53
@wswebcreation Thanks for your response, while I may not be able to print the screen here, any web page can be used for this. The config file including the executorConfig is as follows:

const executorConfig =
  environment.executor === 'seleniumStandalone'
    ? seleniumStandaloneConfig
    : seleniumGridConfig;

const baseConfig = {

  services: [
    ['selenium-standalone'],
    ['multiple-cucu

[2021-01-19 14:04] wswebcreation commented on #53
Hi @lajayis

Thanks, what I mean with the logging the browser is if you can do `console.log(browser)`, that would print the browser including the config to the console and then we can see if the service was added correctly

What you can also do is add `logLevel:'debug'`, and past the logs of the start of the session here (not the complete session, I'm curious what the hooks will log)

[2021-01-19 14:41] lajayis commented on #53
Hi @wswebcreation I am not sure if this will be helpful, below are the console logs (with some irrelevant part removed):

TypeError: browser.checkFullPageScreen is not a function
    at VisualRegressionUtils.checkVisualRegressionOfPage (/Users/xxxxxxxxx/support/VisualRegressionTestUtils.js:9:31)
    at World.<anonymous> (/Users/xxxxxxxxxxxxxxxxxxx/visualRegressionSteps.js:52:32)
[0-0] FAILED in ch

[2021-01-19 14:53] wswebcreation commented on #53
Hi @lajayis

There should be more, the debug logs should provide more logs about starting the process, I would like to have the first few lines where the services are initiated, can you provide that?

[2021-01-19 18:37] lajayis commented on #53
@wswebcreation I am not sure of what you are referring to as the starting process, at the moment all other tests are passing, the only one that is not passing is the visual regression test which is due to the problem with "browser.checkFullPageScreen is not a function". If what you are referring to is the selenium service, it is working fine. The following log is the beginning of the test:

Webdri

[2021-01-23 08:03] wswebcreation commented on #53
Hi @lajayis

Sorry for my late response, what I mean with it is this. When you run your command with `logLevel=debug` you will get extra logs as below. In the first line you will see all the hooks being started, in my case you see the `WdioImageComparisonService` and `selenium-standalone` being started.
I wonder how your log looks like.

[code]

[2021-01-23 08:06] wswebcreation commented on #54
Hi @sytolk

Thanks for filing an issue, can you please explain what you need from this module. Looking at your title I would say there is no link with this module but something related to how you implement this in WebdriverIO itself and thus a WDIO question.

[2021-01-25 08:12] sytolk commented on #54
Hi @wswebcreation
To take screenshot I have use browser.saveFullPageScreen from image-comparison-service like this:
https://github.com/tagspaces/tagspaces/blob/develop/tests/e2e/hook.js#L180

but the right place to [take screenshot is in WDIO](https://dev.to/automationbro/attach-screenshots-on-failure-webdriverio-557j) afterTest hook. The problem is that I cannot set here in WDIO options this hook

[2021-01-27 12:37] Apxu commented on #45
Hello @wswebcreation do you have any updates here?

[2021-01-28 06:50] wswebcreation commented on #45
Hi @Apxu

No, not yet, but any help would be appreciated

[2021-01-28 06:56] wswebcreation commented on #54
Hi @sytolk

Ok, I now understand. The afterTest hook in this service should behave the same as the afterTest hook in WDIO-config. If it's not working from the config then something else in your code might be wrong. For now I'm not planning in adding an extra hook to create screenshots on error that's why I'm closing this issue. It's still open for further discussion

[2021-01-28 06:56] #54 closed

[2021-01-28 08:01] sytolk commented on #54
Thanks for the answer @wswebcreation but I'm not expecting that image-comparison-service will support screenshots on error (source code changes). I want to extend running-programmatically example usage i README.md only.

"The afterTest hook in this service should behave the same as the afterTest hook in WDIO-config."

Ok this means that we can add WDIO hooks in [programing-configuration](https://g

[2021-02-03 13:34] fedika opened #55 "How to display diff image on reporter?"
Hi,

Thank you for providing wdio-image-comparison-service.
We have implemented this module and it works, we can get the screenshot file in diff folder that shows us what is the difference between the actual and base image.
But we cannot find its diff screenshot in our Allure Reporter html, we realize it is because of the different stored location. Based on XML file, Allure reporter displays the s

[2021-02-05 09:00] wswebcreation commented on #55
Hi @fedika

This all depends on how you want to implement this in Allure, this module will provide all the needed data (you can get back all folders and file names if you want). You just need to integrate it yourself with Allure.

Going to close this one because it's not related to this module

[2021-02-05 09:00] #55 closed

[2021-02-09 21:11] AutomationGuru opened #56 "Fail to create mobile device baseline folder"
**Environment (please complete the following information):**
Node.js version: 14.5.0
NPM version: 6.14.5
Browser name and version: Chrome 87
Platform name and version: mac
WebdriverIO version: 6.10.11
wdio-image-comparison-service version: 2.0.0

**Config of WebdriverIO + wdio-image-comparison-service**
The capability of the device on which i use the browser to run the specs on

[code]

**Describe

[2021-02-25 19:34] Elichkoto commented on #53
Hi there,

I have exactly the same problem.
My wdio-cli is version **6.10.11**

I logged the browser object:
`Browser {
  sessionId: '1776e165-07fc-4954-984d-052fd0dd237b',
  capabilities: {
    browserName: 'Chrome',
    browserVersion: '88.0.4324.190',
    platformName: 'win32',
    platformVersion: '10.0.18363'
  },
  addCommand: [Function (anonymous)],
  overwriteCommand: [Function (anonymous)

[2021-02-26 12:31] wswebcreation commented on #53
hi @Elichkoto

Thanks for the info. It looks like the service was initialised, see you logs, but the canvas module was not installed. Which version of Node are you on? Did you also got some issues while installing all modules?

[2021-02-26 12:34] Elichkoto commented on #53
I'm using version 15.0.1.

And yes, I was having trouble installing it, but I deleted my package-lock.json and it worked out.

[2021-02-26 12:41] wswebcreation commented on #53
@Elichkoto

As far as I understood NodeJs 15 is not yet supported by `canvas` which might cause this issue. Are you able to check it on NodeJS14?

[2021-03-01 09:37] Elichkoto commented on #53
Hi there,

I'm facing the following issue:
`bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild --release )  else (node "/usr/local/lib/node_modules/node-gyp/bin/node-gyp.js" rebuild --release )
internal/modules/cjs/loader.js:883
  throw err;

Error: Cannot find module 'C:\usr\local\lib\node_modules\node-gyp\bin\node-gyp.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loade

[2021-03-05 16:09] Elichkoto commented on #53
Hey, @wswebcreation ,

Any suggestions on that? :)

Regards,
Ellie

[2021-03-05 16:23] wswebcreation commented on #53
Hi @Elichkoto

Are you using NodeJS 14 already of are you still on 15? This error means that Canvas doesn't have the prebuild version for you and it will try to build it from source, but therefore you need to have `node-gyp` installed.
Have you already tried that?

[2021-03-15 10:15] lacell75 commented on #55
My code snippset :
const { addAttachment, addDescription } = require('@wdio/allure-reporter').default;`
// Added diff for visual regression in report

  if (scenario.result.message && scenario.result.message.toString().includes('The comparison has failed')) {
    const pathScreenshot = path.resolve(
      `.tmp/diff/desktop_${browserName.toLowerCase().replace('edge', 'microsoftedge')}`,
      `${b

[2021-03-16 21:07] pip8786 commented on #28
@ericzered I have opened a PR for this: https://github.com/wswebcreation/wdio-image-comparison-service/pull/60.

[2021-03-17 06:27] ericzered commented on #28
@pip8786 that so cool, I'm still really interested !
Thanks a lot :)

[2021-03-18 16:14] wswebcreation commented on #28
A new version has been released, see https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v2.2.0

Thanks @pip8786 !!!

[2021-03-25 04:18] vuhuykhanh opened #61 "nativeWebScreenshot capability doesn't work when using webdriverIO v7"
**Environment **
 - Node.js version: [e.g. 14.15.0]
 - NPM version: [e.g. 6.14.8]
 - Browser name and version: [e.g. Chrome 83]
 - Platform name and version: [e.g. Android]
 - WebdriverIO version: [e.g. 7.1.2]
 - wdio-image-comparison-service version: [e.g. 2.2.0]

**Config of WebdriverIO + wdio-image-comparison-service**
An example of how you configured the wdio-image-comparison-service
v6 webdri

[2021-03-25 08:11] wswebcreation commented on #61
@vuhuykhanh

Thanks for filling the issue and also looking into the rootcause. I need to fix [this line](https://github.com/wswebcreation/wdio-image-comparison-service/blob/f57b66370bf9e3e76e7f57f15cd5b76db8a8c6ca/lib/utils.js#L53) for being compatible with W3C.
Feel free to open a PR, otherwise it will be tomorrow from my side I think

[2021-03-25 19:59] wswebcreation commented on #61
@vuhuykhanh

I've released version https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v2.2.1

[2021-03-25 19:59] #61 closed

[2021-03-30 01:54] vuhuykhanh commented on #61
@wswebcreation ws
Thank you for your quick response !

[2021-03-31 16:20] hughleo commented on #55
this is how we do it: https://hughmccamphill.com/blog/wdio-image-comparison/

[2021-04-01 12:38] GGenius opened #63 "Unexpected behavior of full page screenshoting."
**Environment (please complete the following information):**
 - Node.js version: v15.2.1
 - NPM version: 7.7.6
 - Browser name and version: Chrome 89
 - Platform name and version: Ubuntu 20.04
 - WebdriverIO version: 7.3.0
 - wdio-image-comparison-service version: 2.3.0

**Config of WebdriverIO + wdio-image-comparison-service**
 services: [
        'chromedriver',
        ['image-comparison',

[2021-04-01 14:31] wswebcreation commented on #63
Hi @GGenius

This is not a bug, but something you can fix by providing this option https://github.com/wswebcreation/webdriver-image-comparison/blob/master/docs/OPTIONS.md#hideafterfirstscroll. With `hideAfterFirstScroll` you can provide an array of elements that should be hidden after a scroll, like for example a nav bar that is fixed, a chatbot and so on.

You can also find more options on that p

[2021-04-13 12:17] abhinaba-ghosh opened #64 "Diff images are not getting generated with programetic usage"
My programmatic configuration

[code]

after running a test I am getting `diff` result in the console as:
[code]

Although the `baseLine` and `actual` images are getting stored in specified paths `diff` images are not getting generated and stored.

[2021-04-13 12:22] wswebcreation commented on #64
Hi @abhinaba-ghosh
Thanks for filing a ticket, which version of the module are you using?

[2021-04-13 12:31] abhinaba-ghosh commented on #64
@wswebcreation Here it is:

[code]
[code]

[2021-04-13 12:42] wswebcreation commented on #64
Hi @abhinaba-ghosh

I've been running this project and adjusted this testcase https://github.com/wswebcreation/wdio-image-comparison-service/blob/master/tests/specs/checkMethodsFolders.spec.js#L31

I've added this line `browser.execute('arguments[0].innerHTML = "Test Demo Page";', $('h1.uk-heading-large'));` on line 39, before the check is being executed and it's creating the folder, see the image

[2021-04-13 13:17] abhinaba-ghosh commented on #64
@wswebcreation I think this is still not a programmatic usage. Can you let me know how to use custom folder paths for actual, baseline and diff  here:
https://webdriver.io/docs/wdio-image-comparison-service/#running-programmatically

[2021-04-13 14:13] jacknjill02 opened #65 "Not capturing full page screenshot when page has iFrame"
Tabbing sequence screenshot does not display entire page if the page has iframe/nested iframes. Library is not able to scroll the page and as a result it just take the screenshot of the viewport without scrolling down the page.

I am using following versions of modules with the application under test.

node version : 12.16.3
npm version : 6.14.4
"wdio-image-comparison-service": "2.3.0"
"@wdio/cli"

[2021-04-14 05:37] wswebcreation commented on #64
I need to dig into this @abhinaba-ghosh but don't have the time for it today. Any help from someone else would be appreciated

[2021-04-15 08:34] zarko-tg opened #66 "Issues with Chrome 90"
Now that Chrome 90 stable is out some of our visual regression tests started to fail (diffs).
The difference percentages are even different when running headless and not headless, so I suppose this could be timing/animations related. I'd like to point out that we've been running wdio for visual regressions for some time now without much trouble.

I can't point to any specific cause for the time be

[2021-04-15 11:33] wswebcreation commented on #66
Hi @zarko-tg

Thanks for the headsup, do you also have an example of the diffs?

From what I've seen in the past is that fonts are rendered differently between versions which causes most of the issues, is that also now the case?

[2021-04-15 12:17] zarko-tg commented on #66
Don't have much yet cause I had to push the investigation a bit. It doesn't seem anything visually specific causing it. For example I am getting an actual with a popup in the midst of its animation. If I am to guess 10-20% of my tests are failing.
Let's see if others get the same problem now that stable Chrome 90 is out on desktop. I'll let you know what I find on my own asap, it might even turn o

[2021-04-15 12:42] wswebcreation commented on #66
Ok, thanks, will wait for it

[2021-04-19 16:09] zarko-tg commented on #66
Never mind, even though these are unexpected failures due to Chrome update I decided to fix few pixels (new baseline images) and slow down here and there. Due to time constrains I didn't go much into the origin of the issue. Thanks anyway.

[2021-04-19 16:09] #66 closed

[2021-05-26 07:52] #50 closed

[2021-06-11 01:22] #56 closed

[2021-06-24 04:02] itamud opened #67 "string template to distinguish whether it is a headless browser in formatImageName field?"
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find me on Gitter](https://gitter.im/wswebcreation/protractor-image-comparison)
is there any string template or any way to distinguish whether it is a headless browser in formatImageName field?

**If it's about a specific piece of code, try and includ

[2021-06-24 07:42] wswebcreation commented on #67
Hi @itamud

Can you provide some more info about what you want?

[2021-06-25 03:43] itamud commented on #67
What I want is a "string template" like `{browserMode}` in `formatImageName`, whose value is `headless` when running in headless browser and `normal` when running in normal browser.

The reason I want this kind of "string template" is to prevent comparing normal mode chrome with headless mode chrome.

Is something similar already exists? If not, is it possible to add this kind of string template?

[2021-07-01 15:21] Searcher865 opened #68 "Cannot find name 'expect' in typescript"
**Environment (please complete the following information):**
 - Node.js version: [v14.15.5]
 - NPM version: [6.14.11]
 - Browser name and version: [Chrome 91]
 - Platform name and version: [Windows 10]
 - WebdriverIO version: [7]
 - wdio-image-comparison-service version: [7.1.0]
 - tsc: [4.3.5]

**Describe the bug**
Cannot find name 'expect'

**To Reproduce**
tsconfig: Add "wdio-image-comparison-s

[2021-07-08 02:19] #53 closed

[2021-09-02 08:57] opensourcesensor opened #69 "WDIO webdriver-image-comparison not working on node v.16.8.0"
- Node.js version: 16.8.0
 - NPM version: 7.21.0
 - Browser name and version: Chrome latest
 - Platform name and version: Windows 10
 - WebdriverIO version: latest
 - wdio-image-comparison-service version: latest

Hi all,
since I changed to node v.16.8.0,
the wdio-image-comparison-service is not working.
"[chrome 92.0.4515.107 windows #0-0] TypeError: browser.checkScreen is not a function"

[wdio.

[2021-09-02 09:47] wswebcreation commented on #69
@opensourcesensor

This is the error

[code]

I need to see if I can fix this

[2021-09-02 10:54] opensourcesensor commented on #69
Hi @wswebcreation ,
maybe interesting:
started on GitLab,
there is also an error with this canvas.node:

"Error: /builds/cd-it/ba-e/projects/web-experience/infrastructure/playground/wdio_tests/node_modules/canvas/build/Release/canvas.node: invalid ELF header"

[ERROR_GITLAB_16.8.0.txt](https://github.com/wswebcreation/wdio-image-comparison-service/files/7098312/ERROR_GITLAB_16.8.0.txt)

Does this

[2021-09-02 11:51] wswebcreation commented on #69
Yes, that might be related. I think I need to update nodeCanvas.

[2021-09-02 14:04] RossVertizan opened #70 "saveScreen ->removeElements does not work in async mode"
Firstly, I acknowledge that this may be a problem with the underlying webdriver-image-comparison module, but:
1. I don't know how to perform the same test using raw webdriver-image-comparison - the documentation is currently sparse.
2. The error relates to the change from WDIO [sync mode to async mode](https://github.com/webdriverio/webdriverio/discussions/6702)

**Environment (please complete the

[2021-09-02 16:22] wswebcreation commented on #70
Hi @RossVertizan

Have you tried this

[code]

The element first needs to be resolved before the module can use it

[2021-09-02 17:26] RossVertizan commented on #70
Aghhh - no I haven't - of course!
 ... checking ...
Yes, that's it - sorry to have bothered you.
I hope this helps someone else.

[2021-09-02 17:26] #70 closed

[2021-09-02 18:20] wswebcreation commented on #70
No problem!

[2021-09-04 07:08] wswebcreation commented on #69
Hi @opensourcesensor

I've updated all dependencies and use the latest version of Canvas. The GitHub Action that tests this project now also runs on NodeJS 16 and all WDIO test dependencies are updated to 7 and Async mode.

Locally and on GitHub Actions it passes, can you check with the latest version, which is https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v3.0.0

[2021-09-06 06:05] Poitrin commented on #69
Hi @wswebcreation ,
thank you so much for this fantastic plugin, which we use a lot in our projects!
I just wanted to mention that the 3.0.0 release note contains a typo:
all tests are written in _Sync_ mode → all tests are written in *async* mode

[2021-09-06 14:30] wswebcreation commented on #69
Hi @Poitrin

Thanks, changed it

[2021-09-06 20:31] #65 closed

[2021-09-08 09:58] #69 closed

[2021-09-17 13:55] Curt900701 opened #72 "Got `stale element reference` error when use checkElement function"
**Environment (please complete the following information):**
 - Node.js version: 14.17.3
 - NPM version: 6.14.13
 - Browser name and version: 93.0.4577.63 (arm64)
 - Platform name and version: MAC OS 11.5 (APPLE M1)
 - WebdriverIO version: 7.9.1
 - wdio-image-comparison-service version: 7.2.0

**Describe the bug**
[code]
Got error in checkElement function

**To Reproduce**
For more detail, please

[2021-09-17 13:56] Curt900701 commented on #72
@wswebcreation Could you kindly help to confirm?

[2021-09-17 14:03] opensourcesensor commented on #72
Hi @Curt900701 ,
if you use async mode you have to give an await to variables.

Try:
await browser.checkElement(**await** $('#kw'), 'baidu', { /* some options */ })

Does this help?
BR
Fabian Schmider

[2021-09-18 02:02] Curt900701 commented on #72
@opensourcesensor
Yes, that works now.
Thank you for the confirmation.

Please let me close the issue.

[2021-09-18 02:02] #72 closed

[2021-09-18 05:21] wswebcreation commented on #72
Thanks @opensourcesensor for helping out with this

[2021-09-20 05:26] opensourcesensor commented on #68
Hi @Searcher865,
do you still need help?

If you use async mode you have to give an await to the browser object.

Try:
await expect(**await** browser.checkScreen('examplePaged', { /* some options */ })).toEqual(0);

Does this help?
BR
Fabian Schmider

[2021-09-22 07:30] opensourcesensor opened #73 "Folder create/ image save on GitLab"
Hi all,
I am using the wdio-image-comparison-service in my project.
I have the project on gitlab and start the tests via Image.
The tests are deployed on a docker imag, (image: node:14.17.1-buster)
running on a gitlab pipeline.
FYI: The tests are connected to saucelabs.

On local, following folders are generated automatically:
![Local](https://user-images.githubusercontent.com/46485747/134301143-1

[2021-09-22 10:14] wswebcreation commented on #73
Hi @opensourcesensor

I'm not familiar with GitLab, but what happens, based on your config is the following:

when WDIO is started it will
- save images in a separate folder by using this `savePerInstance: true`
- auto save a baseline image if no image is found by using this `autoSaveBaseline: true`

When you don't provide a baseline, or the module can't find the baseline, it will automatically cr

[2021-09-24 09:39] opensourcesensor commented on #73
Hi @wswebcreation ,
thank you.
Yes, that information is known for me, with the automatically creation of the path.
--> I start the tests with debug:true, and returnAllCompareData:true - the paths I use local are correct and the same paths are used on gitlab.
I think I found the reason:
I changed the baseline image with the same name, another image content.
**Local: 79% difference -> it created the

[2021-09-27 17:09] wswebcreation commented on #73
Sorry for missing this

This means that you didn't include `join` from the NodeJS module `path`, see also this code https://github.com/wswebcreation/wdio-image-comparison-service/blob/main/tests/configs/wdio.saucelabs.conf.js#L1

Going to close this issue now because it's solved, it's still open for questions

[2021-09-27 17:09] #73 closed

[2021-12-02 13:45] Sam55555 opened #76 "On the iOS 15 our DOM elements screenshots are shifted"
**Environment (please complete the following information):**
 - Node.js version: [14.17.0]
 - NPM version: [6.14.13]
 - Browser name and version: [iOS 15 Safari]
 - Platform name and version: [iOS 15]
 - WebdriverIO version: [7.7.8]
 - wdio-image-comparison-service version: [3.1.0]

**Config of WebdriverIO + wdio-image-comparison-service**
Attached zip

**Describe the bug**
On the iOS 15 our DOM e

[2021-12-11 04:02] c-trimm opened #77 "Return types of some functions are not set to promises, and cause ESLint to throw an error"
**Environment (please complete the following information):**
 - Node.js version: 16.10.0
 - NPM version: 7.24.0
 - Browser name and version: Chrome
 - Platform name and version: OSX
 - WebdriverIO version: ^7.11.0
 - wdio-image-comparison-service version: ^3.1.0

**Config of WebdriverIO + wdio-image-comparison-service**
tsconfig:
[code]

**Describe the bug**
The return types on some of the functio

[2021-12-28 00:54] flymike opened #78 "WinAppDriver Supported?"
**Describe your question with as much detail as possible**
Tried this service with wdio/winappdriver/jasmine/typescript, setup seems OK but the actual check*/save* methods on the selected element have the same "not a function" error.

Possible to make this service working with winappdriver for Windows Desktop App testing?

[2021-12-28 16:23] wswebcreation commented on #78
Thanks for asking @flymike

But this module only works for web apps, AFAIK all apps for Windows Desktop are "more native". You might want to check https://github.com/wswebcreation/wdio-native-app-compare/

[2021-12-28 16:23] #78 closed

[2022-01-12 16:47] DmytroCh opened #79 "checkFullPageScreen() and checkElement() behavior is disturbed by elements with position:sticky"
**Environment (please complete the following information):**
 - Node.js version: 16.13.1
 - NPM version: 8.1.2
 - Browser name and version: Chrome  96
 - Platform name and version: macOs Monterey 12.1
 - WebdriverIO version: 7.16.13
 - wdio-image-comparison-service version: 3.1.0

**Config of WebdriverIO + wdio-image-comparison-service**

[code]

**Describe the bug**
I've noted that screenshots cr

[2022-01-13 11:36] wswebcreation commented on #79
The method `checkFullPageScreen` can accept an options called `hideAfterFirstScroll`. This is an array of elements that will be hidden after the first automatic scroll of the method, see the full options list [here](https://github.com/wswebcreation/webdriver-image-comparison/blob/main/docs/OPTIONS.md)

For the rest of the pages you need to fix this yourself because they don't automatically scroll.

[2022-01-13 11:36] #79 closed

[2022-01-13 13:49] DmytroCh commented on #79
@wswebcreation thanks!
Here is a working code (for interested):
[code]

[2022-01-13 14:19] wswebcreation commented on #79
Thanks @DmytroCh for sharing the code!

[2022-01-24 18:25] llanni opened #80 "Screenshots taken at random lower screen size"
**Environment (please complete the following information):**
 - Node.js version: 16.13.1
 - NPM version: 8.1.2
 - Browser name and version: Chrome 97
 - Platform name and version: macOS Monterey 12.1
 - WebdriverIO version: 7.16.13
 - wdio-image-comparison-service version: 7.2.6

**Config of WebdriverIO + wdio-image-comparison-service**
[code]

**Describe the bug**
When I run the visual comparison

[2022-01-25 06:26] wswebcreation commented on #80
Hi @llanni

Thanks for the issue, can you provide a reproducible example? I don't have this issues on my Mac

[2022-01-28 11:39] llanni commented on #80
@wswebcreation thanks a lot for your message, unfortunately I can reproduce the issue on a project that I cannot share (not my IP), I totally appreciate it is hard/impossible to debug something without a concrete example of the issue, so it is ok if you want to close it as not reproducible unless there is another way to show the issue?
Thanks for the support in any case

[2022-01-31 05:27] wswebcreation commented on #80
Hi @llanni

I totally understand, but I'm not asking you to share your project code here, maybe yo have a sample project that behaves the same, if so then please provide it so I can see if I can find what's wrong

[2022-01-31 06:19] llanni commented on #80
Hi @wswebcreation,

I will try my best to isolate a sample project where it should be possible to reproduce the issue, I will link it here as soon as I can.
Thanks a lot for the help, much appreciated :)

[2022-02-01 03:00] Searcher865 commented on #68
@opensourcesensor yes.
Thank you.

[2022-02-01 03:00] #68 closed

[2022-02-01 14:41] Searcher865 opened #81 "Can't take a screenshot with Appium (browser.checkElement is not a function)"
- Node.js version: 15.0.0
 - NPM version: 7.0.2
 - Browser name and version: Chrome83
 - Platform name and version: Windows 10
 - WebdriverIO version: 7.16.14
 - wdio-image-comparison-service version: 3.1.0
- Appium 2.0.0-beta.25 ( 1.22.2)
-
**Config of WebdriverIO + wdio-image-comparison-service**
[code]

**Describe the bug**
1) after launch, Chrome opens on Pixel 3 (Android Studio emulator).
2)

[2022-02-01 15:53] wswebcreation commented on #81
@Searcher865

Thanks for filing an issue. I need to dive into it a bit more but I already have some questions / remarks:

"appium:browserName": "Chrome", this is not valid. browserName is a valid W3C cap, so it does not need to be pre-fixed
Are these all the logs, if not, then the problem might be that it's not loading the service, it needs to be shown in the debug logs.

[2022-02-03 23:40] Searcher865 commented on #81
@wswebcreation
1. I'm sorry, maybe I still don't understand how it works so well since I'm just starting my way with Appium. I understand that this question is not related to webdriver-image-comparison. I tried writing different capabilities ("browserName": "Chrome", "browserName": "chrome", browserName: Chrome). I've also tried not writing browserName at all, but my Appium test only runs with "ap

[2022-02-04 21:19] lvxwrkr777 opened #82 "screenshot not saving; comparison always fails"
**Environment (please complete the following information):**
 - Node.js version: v14.18.2
 - NPM version: 6.14.15
 - Browser name and version: Chrome 97
 - Platform name and version: Windows 10
 - WebdriverIO version: 7.16.13
 - wdio-image-comparison-service version: 3.1.0

**Config of WebdriverIO + wdio-image-comparison-service**
[code]

**Describe the bug**
It seems that no baseline images are e

[2022-02-06 16:52] wswebcreation commented on #81
See https://github.com/webdriverio/webdriverio/issues/7974#issuecomment-1030870647, closing this one

[2022-02-06 16:52] #81 closed

[2022-02-15 12:39] mayankshukla94 commented on #82
`wdio-image-comparison-service` by default saves the baseline image in `./.tmp/actual`.
If you remove ` baselineFolder: join(process.cwd(), './tests/Baseline/')` from `wdio.conf.js` file and update `it` block of image comparison as mentioned below

[code]

Then it works

[2022-02-16 19:45] lvxwrkr777 commented on #82
I still got:

`[chrome 97.0.4692.99 windows #0-0] expect(received).toEqual(expected) // deep equality

Expected: 0
Received: {}
[chrome 97.0.4692.99 windows #0-0] Error: expect(received).toEqual(expected) // deep equality
[chrome 97.0.4692.99 windows #0-0]
[chrome 97.0.4692.99 windows #0-0] Expected: 0
[chrome 97.0.4692.99 windows #0-0] Received: {}`

[2022-02-18 15:06] Sam55555 opened #83 "Screenshots shifted after scrollIntoView under Linux 5.13.0-28-generic 31-Ubuntu"
- Node.js version:  v16.13.2
 - Browser name and version: Chrome 98/latest
 - Platform name and version: Linux 5.13.0-28-generic 31-Ubuntu
 - WebdriverIO version: 7.16.14
 - wdio-image-comparison-service version: 3.1.0

**Describe the bug**
Screenshots shifted after scrollIntoView under Linux

**To Reproduce**
Steps to reproduce the behavior:

[LinuxIssue.zip](https://github.com/wswebcreation/wdio

[2022-02-20 06:35] mhdSid commented on #80
I'm having a similar issue. It doesn't happen regularly, but in our team, we run image comparison in docker environment under linux. There is a jenkins job that triggers wdio tests. I often encounter a failure in baeLine images because the actual ones are taken at a different screen resolution.

[2022-02-20 06:41] wswebcreation commented on #80
Hi @mhdSid

It would be great to have a reproducible example so I can debug, without it I can't do anything about it. Thanks

[2022-02-20 06:55] wswebcreation commented on #83
Hi @Sam55555

Thanks for the issue, I'm currently on vacation and will check it out when I'm back end of the month

[2022-02-20 06:59] wswebcreation commented on #82
Hi @lvxwrkr777

I'm currently on vacation and can't verify it, I'll check it when I'm back. I have the feeling this is related to Windows only because on Mac/Linux this just pases

[2022-02-20 07:00] mhdSid commented on #80
I'll share a example using code sandbox. I'll try to share it between today and tomorrow!

[2022-02-21 07:31] Kacoze commented on #83
Same on:
- node.js 16.13.1
- chrome 98
- windows 11
-  wdio 7.16.15
- wdio-image-comparison-service version 3.1.0 AND 2.3.0
also tested on some ubuntu (16 i think) with node 14.?.?, and same result

[2022-02-21 08:17] mhdSid commented on #80
@wswebcreation Please check this code sandbox which contains similar configuration  to the one we are using in production.
Kindly note, that this is ran in Jenkins with docker configured in addition to ubunutu OS.
https://codesandbox.io/s/inspiring-browser-jv7y5x?file=/package.json

[2022-02-21 08:21] mhdSid commented on #80
Docker is configured with node v12.13.0 and npm v6.12.0

[2022-02-21 08:26] mhdSid commented on #80
The issue won't happen straight away, but it's existing!

[2022-02-21 08:38] mhdSid commented on #80
Please let me know if you want me to prepare a runnable Docker env

[2022-02-24 09:54] mhdSid commented on #80
@wswebcreation

I think the issue lies in this method:
https://github.com/wswebcreation/webdriver-image-comparison/blob/8e80b9ce6fd5e5fe2ec0e3376ef3fa955d02ce40/lib/methods/screenshots.ts#L274

It checks and confirms that images height, but it doesn't reassure that the widths will be the same, therefore, a check that confirms images width match should be implemented.

[2022-02-24 12:01] mhdSid commented on #80
After debuging, I found that the cause of diffence in comparison is due to text rendering from our components. My side of the story can be resolved!

[2022-03-06 07:50] wswebcreation commented on #80
Thanks for the update, closing it for now

[2022-03-06 07:50] #80 closed

[2022-03-23 19:39] wbigno opened #84 "Seeing an Error on build after moving to Nodev14 in our Jenkins pipeline"
Seeing error in our log on every build in Jenkins, does not occur locally
[code]
**If it's about a specific piece of code, try and include some of it to support your question.**
[...]

**Environment (please complete the following information):**
[code]
**Additional context**
Add any other context about the problem here.

[2022-03-24 06:58] wswebcreation commented on #84
Can you provide the platform you're running on with Jenkins. It seems that the canvas library doesn't support it and to be sure how I need to fix it, I need to know more details about your Jenkins environment

[2022-03-24 13:24] wbigno commented on #84
Here the details requested that my server team provided to me today
cat /etc/redhat-release Red Hat Enterprise Linux Server release 7.9 (Maipo) + uname -a Linux if21p01js 3.10.0-1160.36.2.el7.x86_64 #1 SMP Thu Jul 8 02:53:40 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux + npm -v 6.14.13 + node --version v14.17.3

We are using Red Hat Enterprise Linux Server release 7.9 (Maipo)

if21p01js 3.10.0-1160.36.

[2022-03-28 04:58] wswebcreation commented on #84
Hmm, I think this is an environmental issue, can you share the logs of the installation of the node modules? If the environment is not supported there should also be an error during the installation.

I'll update the canvas lib this week

[2022-03-28 12:08] wbigno commented on #84
Here is the log, I dont see any issues with the overall install of the node modules, thanks
[log.txt](https://github.com/wswebcreation/wdio-image-comparison-service/files/8362455/log.txt)
.

[2022-04-01 17:50] mayankshukla94 commented on #82
@wswebcreation Any update on this?

[2022-04-03 00:44] gulatirajat commented on #84
Same error while trying to run the suite from a docker container. No issue during local execution.
Installation setup during docker build:
RUN npm i \
    @babel/cli@7.17.6 \
    @babel/core@7.16.7 \
    @babel/plugin-transform-runtime@7.16.8 \
    @babel/preset-env@7.16.8 \
    @babel/preset-react@7.16.7 \
    @babel/register@7.16.9 \
    babel-plugin-module-resolver@4.1.0 \
    babel-plugin-styl

[2022-04-03 19:53] wswebcreation commented on #84
I've upgraded the canvas lib to the latest version, can you check the latest version https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v3.1.1

[2022-04-04 17:45] wbigno commented on #84
Upgraded version to 3.1.1 i can see it in my node_modules
+-- wdio-image-comparison-service@3.1.1
| +-- @wdio/logger@7.19.0 deduped
| `-- webdriver-image-comparison@0.20.3
|   +-- canvas@2.9.1
|   | +-- @mapbox/node-pre-gyp@1.0.9
|   | | +-- detect-libc@2.0.1
|   | | +-- https-proxy-agent@5.0.0 deduped
|   | | +-- make-dir@3.1.0
|   | | | `-- semver@6.3.0
|   | | +-- node-fetch@2.6.7 deduped
|   |

[2022-04-05 08:15] gulatirajat commented on #84
**Similar error on my side as well:**
2022-04-05T01:21:56.830Z ERROR @wdio/utils:initialiseServices: Error: Couldn't initialise "wdio-image-comparison-service".
Error: Cannot find module '../build/Release/canvas.node'
Require stack:
- /app/node_modules/canvas/lib/bindings.js
- /app/node_modules/canvas/lib/canvas.js
- /app/node_modules/canvas/index.js
- /app/node_modules/webdriver-image-comparison/

[2022-04-05 11:26] wswebcreation commented on #84
hmm,

Still seems to be an environmental issue. You might want to look into the docs of [node-canvas](https://github.com/Automattic/node-canvas/wiki/_pages) and check the steps you need to follow / dependencies you might need to add to your (docker) container to make this work.
By default it should work an provide prebuild binaries for a lot of standard platforms

[2022-04-05 11:29] wbigno commented on #84
Wim

I am now getting the same build error on my local win10 machine which was building and running without any issues on the prior version.

It’s running v14 and has not had any issues until I updated the version to 3.1.1 yesterday.

Not sure if that helps, thanks

[2022-04-21 09:06] Sam55555 commented on #76
Hi, is there any update?

[2022-04-25 11:55] gulatirajat commented on #84
After some digging in and changes to the docker file being used to build the wdio image, I was able to resolve it for docker container (running on my local mac machine). Now it downloads this package from within the docker container and installs:
https://github.com/Automattic/node-canvas/releases/download/v2.9.1/canvas-v2.9.1-node-v83-linux-glibc-x64.tar.gz

However since there are restrictions on

[2022-04-30 17:57] #67 closed

[2022-05-07 12:15] wswebcreation commented on #84
Hi @wbigno

Due to the 403 it tries to build it itself and it might be that your docker image doesn't have the correct dependencies. Can you check if you have all of these https://github.com/Automattic/node-canvas#compiling?

[2022-05-16 07:17] gaunap commented on #76
This issue blocks us massively. iOS 14 has bugs which prevents us using it. Since we cannot make the update to 15 our tests are deactivated. Any chance this issue get fixed in near time?

[2022-06-09 07:15] sunkuriakose opened #87 "Using the method checkFullPageScreen, I am able to capture the image of the viewport only.It shows a black screen for rest of the screen in the screenshot."
Type script is the language. I am using the below version
"wdio-image-comparison-service": "^3.1.1"

wdio.conf.ts

 services: [
        ['selenium-standalone', { drivers: { firefox: '0.30.0', chrome: '102.0.5005.61'} }],
    ['image-comparison',
        // The options
        {
            // Some options, see the docs for more
            baselineFolder: join(process.cwd(), './screenshots/Baselin

[2022-06-09 07:38] sunkuriakose commented on #87
![image](https://user-images.githubusercontent.com/91836340/172791805-21666080-768e-4cd5-9c01-b9e49ccb0578.png)

[2022-06-09 16:35] AKQA-DanH commented on #42
Has there been any update on this? Its still an issue for browserstack users

[2022-06-09 16:37] AKQA-DanH commented on #42
Any update on this issue? Its still a problem when using browserstack as the above suggestion doesn't resolve the folder creation issue

[2022-06-13 05:30] wswebcreation commented on #42
No, not yet, any help would be appreciated

[2022-06-13 05:47] wswebcreation commented on #87
Hi @sunkuriakose

Thanks for this issue, can you please provide a reproducible example?

[2022-07-07 13:32] fabianschmider123 opened #90 "Error: Unsupported image type thrown"
**Environment:**
 - Node.js version: latest
 - NPM version: latest
 - Browser name and version: Chrome latest
 - Platform name and version: Windows 10
 - WebdriverIO version: latest
 - wdio-image-comparison-service version: latest

**Config of WebdriverIO + wdio-image-comparison-service**
[code]

**Describe the bug**
If I take a picture with
**await expect(await browser.checkElement(await $('[id="

[2022-07-08 12:47] wswebcreation commented on #90
Hi @fabianschmider123

can you provide a reproducible example, all my tests are passing

[2022-07-11 16:38] ayau1 opened #91 "How do I use the saveAboveTolerance option?"
Hi 👋
My tests are failing due to a minor difference which at the moment we want to ignore.
![image](https://user-images.githubusercontent.com/10231782/178311190-c1c64e83-54be-4e75-86e6-c944b6f2a881.png)
[code]

I saw the saveAboveTolerance option and have tried to implement it in my wdio test runner configuration file like this ...
[code]
But the test still fails with the same difference. I have a

[2022-07-24 05:36] wswebcreation commented on #91
Hi @ayau1
The `saveAboveTolerance` option only saves the diffs above a tolerance, but does not have an impact on the assertions.

If you want to assert and allow a tolerance, then you need to change your assertions. You can doe something like this

[code]

**NOTE:** Please prevent using tolerances like this, you might allow bugs you don't want to slip. Try to figure out why the difference is creat

[2022-07-24 05:36] #91 closed

[2022-07-24 09:07] wswebcreation commented on #90
Hi @fabianschmider123

Sorry for the late response, didn't had time to sit for this.

The reason why it fails is because the element doesn't have a height, see screenshot

I'll try to fix this in my module with an error message like this

[code]

[2022-07-24 20:29] wswebcreation commented on #90
Will be fixed by https://github.com/wswebcreation/webdriver-image-comparison/pull/110

Will now throw this error

[code]

Will release a new version in a few days

[2022-07-24 20:29] #90 closed

[2022-07-25 06:09] wswebcreation commented on #87
Closing this due to inactivity

[2022-07-25 06:09] #87 closed

[2022-07-25 06:09] wswebcreation commented on #84
Closing this one due to inactivity, feel free to re-open or create a new issue if this still happens

[2022-07-25 06:09] #84 closed

[2022-07-25 06:19] wswebcreation commented on #77
Closing this one because it will be fixed with https://github.com/wswebcreation/wdio-image-comparison-service/pull/93

[2022-07-25 06:19] #77 closed

[2022-07-25 06:21] wswebcreation commented on #2
Closing this one due to inactivity

[2022-07-25 06:21] #2 closed

[2022-07-26 08:16] fabianschmider123 commented on #90
Hi @wswebcreation ,
thank you !

One question,
how could I get this update in the WDIO project ?
With the following command I dont get the update:
"npm install wdio-image-comparison-service"

Is there a way to get the update from this service ?

[2022-07-26 09:09] wswebcreation commented on #90
I'm still working on the core and haven't released the fixes yet. When I have you need to increase the version number of this package.

[2022-07-27 12:43] wswebcreation commented on #76
Will be fixed in this PR https://github.com/wswebcreation/webdriver-image-comparison/pull/110

[2022-07-27 12:43] #76 closed

[2022-08-01 18:39] wswebcreation commented on #45
This will be fixed by this PR https://github.com/wswebcreation/wdio-image-comparison-service/pull/93

[2022-08-01 18:39] #45 closed

[2022-08-02 05:47] wswebcreation commented on #64
Closing this one due to inactivity. Feel free to reopen or create a new issue

[2022-08-02 05:47] #64 closed

[2022-08-02 05:53] wswebcreation commented on #76
A new version, `4.0.0` has been released and has a lot of improvements and fixes, can you please try again @Sam55555 and @gaunap

[2022-08-04 11:06] ayau1 commented on #91
Ah ok, thanks for the clarification @wswebcreation

[2022-08-18 09:50] jkostrhun opened #95 "SecurityError: Permission denied to access property "pageXOffset" on cross-origin object"
**Environment:**
 - Node.js version: 14.17.0
 - NPM version: 6.14.13 (but using yarn 1.22.10)
 - Browser name and version: Firefox 103.0
 - Platform name and version: Linux
 - WebdriverIO version: 7.19.5
 - wdio-image-comparison-service version: 3.1.1

**Config of WebdriverIO + wdio-image-comparison-service**
An example of how you configured the wdio-image-comparison-service
[code]

[code]
**Descr

[2022-08-26 05:16] wswebcreation commented on #95
Hi @jkostrhun

this module never officially supported iframes so never looked into this. I know that there can be cross-origin security issues with iframes. Are you able to interact with an element? Like clicking on it and so on?

[2022-08-29 16:22] patilmukesh opened #96 "Regarding SaveElement"
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find me on Gitter](https://gitter.im/wswebcreation/protractor-image-comparison)

I am using saveElement for element A on screen. I can see that it is getting saved under folder1. Then i am using checkElement with different element and still checkEleme

[2022-08-29 21:36] #96 closed

[2022-09-18 07:29] wswebcreation opened #97 "Chrome Devtools support is broken"
See https://github.com/wswebcreation/webdriver-image-comparison/issues/115

[2022-09-18 07:30] wswebcreation opened #98 "Support iPhone 14 series including iOs 16"
See https://github.com/wswebcreation/webdriver-image-comparison/issues/114

[2022-10-11 06:09] #98 closed

[2022-10-17 13:28] carvalhoa-ppb commented on #83
I've also had the same behaviour on my tests.

Anytime I've made a scroll or even if the application scrolls by some iteration the screenshots created after that point of moment are shifted. Notice that the shifted amount is the same as initial scroll that application had.

After some debug I believe it's related with this line of code of [webdriver-image-comparison](https://github.com/wswebcreati

[2022-11-04 07:38] user7699 opened #104 "5.0.1 is not working - Property does not exist on type 'Browser'"
**Environment (please complete the following information):**
[code]
ts-config:
[code]

**Config of WebdriverIO + wdio-image-comparison-service**
No configuration - use the default methods provided by the docs.

**Describe the bug**

Try using any of the methods that comes with the service - https://webdriver.io/docs/wdio-image-comparison-service#writing-tests

I get the same error, no matter which

[2022-11-05 16:46] wswebcreation commented on #104
Sorry, not sure what happened. I'll check with the original committer to see what issue he had. It's my bad that I didn't check this properly, sorry for the inconvenience.
I've released https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v5.0.2. Can you try it again?

[2022-11-05 16:46] #104 closed

[2022-11-07 01:37] pip8786 commented on #104
@wswebcreation this is the same issue. That's why I was saying we should use Browser<Mode> but you told me to use Browser<"async"> specifically. Doing Browser<Mode> would allow both to work (async and sync).

[2022-11-11 14:13] pip8786 commented on #104
@wswebcreation Did you see my reply (here and on Gitter)?

[2022-11-25 06:46] smichaelsen opened #106 "Indicate when baseline image was missing/created"
When the CI runs our visual tests then I assume that we have baseline images for all of our cases. However images can be forgotten to be pushed, accidentally deleted, screen resolution changes and with it the file name, etc.

In all these cases our tests will pass, because the check function silently creates the baseline image and returns a result with `misMatchPercentage: 0`. It would be great if

[2022-11-25 06:50] smichaelsen commented on #106
Moved to correct project: https://github.com/wswebcreation/webdriver-image-comparison/issues/127

[2022-11-25 06:50] #106 closed